{% extends "layout.njk" %}

{% block content %}
Instructors
<div class="card">

    <section 
    class="image"  style="background: url('{{instructors.avatar_url}}') no-repeat center center / cover;"></section>
    <div class="details">
        <form  action="/instructors?_method=PUT" method="POST">

            <h3>Editar Instrutor</h3>
            
            {% include 'instructors/fields.njk'%}
            <button id="button-delete" type="submit" form="deleter">Deletar</button>
            <input type="hidden" name="id" value={{instructors.id}}>
            </div>

        </form>

        <form id="deleter" action="/instructors?_method=DELETE" class="delete" method="POST">
        
            
            <input type="hidden" name="id" value={{instructors.id}}>
        </form>
     
        <script>
            const formDelete = document.querySelector("#deleter");
            formDelete.addEventListener("submit",function (event) {
            const confirmation = confirm("Deseja deletar?");

                    if(!confirmation) {
                        event.preventDefault();
                    }
            })
    
    </script>

    </div>
    
</div>



{% endblock content %}